<div class="event-console">
  <div class="event-console-header">
    <img
      class="event-console-header-icon"
      src="/openai-logomark.svg"
      alt="OpenAI"
    />
    <h1 class="event-console-header-title">realtime console</h1>
  </div>
</div>

<style>
  .event-console {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 400px;
    overflow: hidden;
  }

  .event-console-header {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }

  .event-console-header-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .event-console-header-title {
    display: inline-block;
    font-size: 1.5rem;
  }
</style>
