<div class="tools-console">
  <div class="tools-console-header"></div>
</div>

<style>
  .tools-console {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 400px;
    background-color: #008000;
    color: #ffffff;
  }
</style>
