[data-component='App'] {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Comic Neue', sans-serif;
  margin: 0;
  padding: 0;
}